body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin: 0px;
}

/* Layout
====================== */

.header {
  display: flex;
  gap: 15%;
  justify-content: space-around;
}

.header ul {
  list-style: none;
  padding-inline-start: 0px;
}

.header ul li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.hero {
  display: flex;
  padding: 4% 10% 4% 10%;
}

.hero-text {
  padding: 0% 3% 0% 3%;
}

.hero-text-button,
.call-section-button button {
  font-size: 100%;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px 12px;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-section-images {
  display: flex;
}

.quote-source {
  text-align: right;
}

.call-section {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.footer {
  text-align: center;
  padding: 15px 0px 15px 0px;
}

.footer p {
  margin: 0px;
}

/* Text and Color Formatting
============================= */

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.hero-text-main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.header li,
.hero-text-secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.header a:link,
.header a:visited,
.header a:focus,
.header a:hover,
.header a:active {
  color: #e5e7eb;
  text-decoration: none;
}

.header h1.logo {
  color: #f9faf8;
  font-size: 24px;
}

button.hero-text-button,
.call-section,
.call-section button {
  background-color: #3882f6;
  color: #ffffff;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.footer {
  color: #e5e7eb;
}
